.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.checkoutProductInfo {
    padding:15px;
text-align: left;
}

.checkoutProductImg {
    height: 180px;
    width: 180px;
    object-fit: contain;

}



.checkoutProductTitle {
    font-size: 1rem;
    font-weight: 600;
    width: 60vh;

    flex-wrap: wrap;

}
.select-qty-div{
    border:1px red
}




.checkoutProductInfo>button {
    /* background-color: #f0c14b; */
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734, #9c7e31, #846a29;
    color: #111;
    width: 200px;
    height: 30px;
    cursor: pointer;

}