.button-brutal-vid {
    border: none;
    padding: 11.5px 32px;
    border: none;
    background-color:black;
    color: white;

  }
  .div-brutal-vid {
    border: 2px solid black;
    height: 55px;
    width: 20%;
  }