.hidden-red {
  color: red;
}
.hidden-left-flex {
  display: flex;
}
.hidden-nav-container {
  display: flex;
  height: 80vh;
  /* padding-left: 5px; */
  padding-right: 4%;
  justify-content: space-evenly;
  gap: 100px;
  padding-top: 10px;
}

.hidden-nav-container li {
  cursor: pointer;
}

.hidden-nav-container li:hover {
  text-decoration: underline;
}
